* {
	margin: 0;
	padding: 0;

}

/* 放大前和放大后的总位置 */
.fdj {
	width: 1200px;
	height: 400px;
	display: flex;
	margin: 50px 50px;
}

/* 没放大之前图片的位置 */
.left {
	width: 600px;
	height: 400px;
	background-image: url(../img/iTab-dprg8o.jpg);
	background-size: 100% 100%;
	position: relative;
}

/* 中间鼠标拖动的那个十字移动 */
.back {
	visibility: hidden;
	width: 300px;
	height: 200px;
	background: rgba(255, 255, 0, .6);
	cursor: move;
	position: absolute;
	top: 0;
	left: 0;
}

/* 放大图片显示的位置 */
.right {
	visibility: hidden;
	flex: 1;
	margin-left: 10px;
	background-image: url(../img/iTab-dprg8o.jpg);
	background-size: 1200px 800px;
}